@{
    ViewBag.Title = "Home Page";
}

<style>
    p.about {
        margin: 20px;
        font-size: 1.3em;
        color: #645036;
    }
</style>
<div class="text-center">
    <h1 class="header warfareheader">Uncreated Warfare</h1>
    <p class="about">
        Warfare is a <em>Squad</em>-inspired war simulation between two teams, <span style="color: darkred;">Russia</span> and the <span style="color: #858585;">United States</span>. The two teams fight to capture all the flags on the <a href="map.html">custom-made map</a>. The first team to take all flags wins the game.
        There are custom loadout kits that you can get by spending credits. You earn these credits every time you help capture a point or kill an enemy. You can also purchase logistic vehicles, tanks, and other transport
        vehicles to assist in transportation for your team. As you play you also gain experience, eventually allowing you to rank up, which you can keep track of from our Discord-integrated leaderboard or in-game UI. You may play
        on either team and, should you decide to switch teams, your progress on the other team will be saved for when you go back.
    </p>
</div>